
body {
    margin: 0;
 font-family: 'Poppins', sans-serif;
 background: url('https://static.vecteezy.com/system/resources/previews/002/783/363/large_2x/blur-hospital-background-free-photo.jpg') no-repeat center center fixed;
 background-size: cover;
 color: #222;
   }

.add-doctor-box {
 max-width: 550px;
 margin: 60px auto;
 background: #fff;
 padding: 40px 30px;
 border-radius: 16px;
 box-shadow: 0 10px 30px rgba(0,0,0,0.08);
 align-content: center;
}

.add-doctor-form h3 {
 font-size: 1.8em;
 color: #1e4edb;
 margin-bottom: 25px;
}

.add-doctor-form form {
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.add-doctor-form label {
 font-weight: 600;
 font-size: 1em;
 color: #00308f;
}

.add-doctor-form input,
.add-doctor-form select,
.add-doctor-form textarea {
 padding: 12px 14px;
 border: 1px solid #ccc;
 border-radius: 10px;
 font-size: 1em;
 background-color: #f9f9f9;
 outline: none;
 transition: 0.3s ease;
}

.add-doctor-form input:focus,
.add-doctor-form select:focus,
.add-doctor-form textarea:focus {
 border-color: #1e4edb;
 box-shadow: 0 0 8px rgba(30, 78, 219, 0.1);
}

.add-doctor-form button {
 background-color: #ffe600;
 color: #00308f;
 font-weight: 600;
 width: 200px;
 padding: 14px;
 border: none;
 border-radius: 10px;
 font-size: 1em;
 cursor: pointer;
 transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-doctor-form button:hover {
 background-color: #ffcc00;
 transform: translateY(-2px);
}